body {
    color: #3a3b3d;
    font-size: 0.8rem !important;
}
.sidebar-brand-text {
    font-size: 0.7rem !important;
}
@media (min-width: 768px){
    .sidebar.toggled .nav-item .collapse {
        z-index: 2;
    }
}
